@charset "UTF-8";
/* HOLA */
/* HOLA 2*/
/* HOLA 3 */
/* VARIABLES */
/* IMPORT */
/* EXTENDS */
.imgguiaRio, .imgguiaParis, .imgguiaBa {
  width: 400px;
  height: 400px;
  border: solid 1px green; }

.imgguiaParis {
  border: solid 1px red; }

.imgguiaBa {
  border: solid 1px lightblue; }

/* MIXINS */
.imgFavelas {
  width: 300px;
  height: 300px; }

/* ESTILOS GENERALES */
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: #729677; }

/* ENCABEZADO */
header {
  padding: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  background-image: url(/img/rio/MILI.jpg); }

/* MENU */
nav .container-fluid {
  background-color: #729677; }
  nav .container-fluid div ul .dropdown-menu {
    width: 0px;
    height: 0px;
    background-color: #729677;
    margin-top: 0px;
    padding-top: 0px;
    border-style: none; }
    nav .container-fluid div ul .dropdown-menu .dropdown-item {
      width: 145px;
      text-align: center;
      font-size: 10px;
      text-transform: uppercase;
      margin-left: 7px;
      margin-top: 2px; }
      nav .container-fluid div ul .dropdown-menu .dropdown-item:hover {
        background-color: #3e5f42; }
  nav .container-fluid div ul li a {
    color: black;
    font-weight: bolder;
    background-color: #729677;
    margin: 5px;
    border: solid 1px black; }
    nav .container-fluid div ul li ahover {
      border: solid 10px black;
      background-color: #157020; }
  nav .container-fluid div .d-flex button {
    background-color: #729677;
    color: black; }
  nav .container-fluid div .transicion {
    transition: all 700ms; }
  nav .container-fluid div .transicion:hover {
    border: solid 1px black;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #3e5f42 0%, #233329 74%); }

/* INICIO */
.mainInicio .slide {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .mainInicio .slide .carousel-inner {
    height: 500px;
    width: 800px; }

.cuerpoinicio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 500px; }
  .cuerpoinicio h1 {
    font-size: 40px bold; }
  .cuerpoinicio h2 {
    color: black;
    text-decoration: none; }
    .cuerpoinicio h2 a {
      color: black;
      text-decoration: none; }
      .cuerpoinicio h2 a:hover {
        color: #324d36; }

/* NOSOTROS */
.cuerpoNosotros {
  margin: 50px 22px 50px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: large; }
  .cuerpoNosotros article {
    text-align: justify; }
    .cuerpoNosotros article h1 {
      text-align: center; }

/* EXPERIENCIAS */
.mainExperiencias .container {
  margin-top: 50px;
  display: flex;
  align-items: center; }
  .mainExperiencias .container .col {
    text-align: center;
    align-items: baseline; }
    .mainExperiencias .container .col .imgExp {
      width: 300px;
      height: 300px; }
    .mainExperiencias .container .col .imgBarraBrava {
      margin-top: 30px; }
    .mainExperiencias .container .col p {
      margin-top: 20px;
      font-weight: bold;
      text-align: justify; }
      .mainExperiencias .container .col p span {
        font-weight: 2000;
        text-decoration: underline; }
      .mainExperiencias .container .col p a {
        color: black;
        text-decoration: underline; }
        .mainExperiencias .container .col p a:hover {
          color: #324d36; }

/* ERES GUÍA */
.mainGuias .cuerpoGuias {
  margin-top: 130px; }
  .mainGuias .cuerpoGuias h1 {
    font-size: 40px bold;
    text-align: center; }
  .mainGuias .cuerpoGuias p {
    font-size: 150%;
    text-align: center;
    margin-top: 100px; }
    .mainGuias .cuerpoGuias p a {
      color: black;
      text-decoration: none; }
      .mainGuias .cuerpoGuias p a:hover {
        text-decoration: underline;
        color: #324d36; }

.mainGuias .galeriaGuias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center; }
  .mainGuias .galeriaGuias .imgguiaRio, .mainGuias .galeriaGuias .imgguiaParis, .mainGuias .galeriaGuias .imgguiaBa {
    width: 400px;
    height: 400px;
    border: solid 1px green; }

/* CONTACTO */
.contacto {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 650px;
  grid-template-areas: "cuerpo formulario"; }
  .contacto .cuerpoContacto {
    grid-area: cuerpo;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto .cuerpoContacto h1 {
      text-align: center; }
    .contacto .cuerpoContacto p {
      font-size: 150%;
      margin-top: 50px;
      text-align: center;
      width: 250px; }
  .contacto .formulario {
    grid-area: formulario; }
    .contacto .formulario .field {
      display: flex;
      flex-direction: column; }
      .contacto .formulario .field input {
        width: 350px;
        margin-bottom: 20px; }
      .contacto .formulario .field h3 {
        margin-bottom: 10px; }
      .contacto .formulario .field .prefTel .radio {
        margin-left: 10px; }
      .contacto .formulario .field .prefMail .radio {
        margin-left: 10px; }
      .contacto .formulario .field .consulta {
        margin-top: 25px;
        width: 350px; }

/* FAVELAS */
h1 {
  text-align: center; }

.mainFavelas {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .mainFavelas .cuerpoFavelas {
    width: 900px;
    height: 900px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "im1 im2 im3" "im4 im5 im6" "im7 im8 im9"; }
    .mainFavelas .cuerpoFavelas .im1 {
      grid-area: im1; }
    .mainFavelas .cuerpoFavelas .im2 {
      grid-area: im2; }
    .mainFavelas .cuerpoFavelas .im3 {
      grid-area: im3; }
    .mainFavelas .cuerpoFavelas .im4 {
      grid-area: im4; }
    .mainFavelas .cuerpoFavelas .im5 {
      grid-area: im5; }
    .mainFavelas .cuerpoFavelas .im6 {
      grid-area: im6; }
    .mainFavelas .cuerpoFavelas .im7 {
      grid-area: im7; }
    .mainFavelas .cuerpoFavelas .im8 {
      grid-area: im8; }
    .mainFavelas .cuerpoFavelas .im9 {
      grid-area: im9; }

/* FOOTER */
footer {
  margin-top: 30px;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%; }
  footer .datosContacto {
    color: #3a5e40;
    margin-left: -15px;
    text-transform: uppercase;
    line-height: 35px;
    list-style-type: none; }
    footer .datosContacto .copy {
      margin-top: 60px; }
  footer .mapa {
    margin-top: 12px;
    margin-right: 180px; }
  footer .listaSiguenos {
    color: #3a5e40;
    text-transform: uppercase;
    line-height: 35px;
    list-style-type: none;
    margin-right: 15px;
    margin-top: 50px; }
    footer .listaSiguenos .logosrs {
      display: inline; }
      footer .listaSiguenos .logosrs .logos {
        height: 40px; }

/* MOBILE */
@media (max-width: 767px) {
  /* MENÚ */
  .container-fluid ul {
    width: 150px; }
    .container-fluid ul li {
      margin-left: -3px; }
  nav li a {
    margin-left: 5px;
    text-align: center; }
  nav li {
    margin-left: -1px; }
  /* INICIO */
  /* Carrousel */
  .carousel-indicators {
    margin-bottom: 180px; }
  .carousel-control-prev {
    margin-bottom: 150px; }
  .carousel-control-next {
    margin-bottom: 150px; }
  /* FOOTER */
  footer {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    align-items: center; }
  .mapa {
    margin-left: 180px; }
  .copy {
    margin-left: 5px; }
  .datosContacto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-right: 20px; }
  .datosContacto li {
    text-align: center; }
  .listaSiguenos {
    margin-right: 30px; }
  /* EXPERIENCIAS */
  .imgBarraBrava {
    margin-top: 3px; }
  /* FAVELAS */
  h1 {
    text-align: center; }
  .mainFavelas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .mainFavelas .cuerpoFavelas {
      border: solid 1px black;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "im1 im2 im3" "im4 im5 im6" "im7 im8 im9"; }
      .mainFavelas .cuerpoFavelas .imgFavelas {
        width: 100%;
        height: 100%; }
      .mainFavelas .cuerpoFavelas .im1 {
        grid-area: im1; }
      .mainFavelas .cuerpoFavelas .im2 {
        grid-area: im2; }
      .mainFavelas .cuerpoFavelas .im3 {
        grid-area: im3; }
      .mainFavelas .cuerpoFavelas .im4 {
        grid-area: im4; }
      .mainFavelas .cuerpoFavelas .im5 {
        grid-area: im5; }
      .mainFavelas .cuerpoFavelas .im6 {
        grid-area: im6; }
      .mainFavelas .cuerpoFavelas .im7 {
        grid-area: im7; }
      .mainFavelas .cuerpoFavelas .im8 {
        grid-area: im8; }
      .mainFavelas .cuerpoFavelas .im9 {
        grid-area: im9; } }

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  /* MENU */
  .container-fluid ul {
    width: 150px; }
    .container-fluid ul li {
      margin-left: -3px;
      text-align: center; }
  /* FOOTER */
  footer {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center; }
  .mapa {
    margin-left: 180px; }
  .copy {
    margin-left: 5px; }
  .datosContacto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-right: 20px; }
  .datosContacto li {
    text-align: center; } }
