
body {
    font-family: 'Be Vietnam Pro', sans-serif; 

}

/* ENCABEZADO */

header {
    background-image: url(/img/rio/MILI.jpg);
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

/* MENU */

nav li a {
    color: black;
    font-weight: bolder;
    background-color: #729677;
    margin: 5px;
    border: solid 1px black;
}



.d-flex button {
    background-color: #729677;
    color: black;
}


.container-fluid {
    background-color: #729677;
}

.transicion {
transition: all 700ms
}

.transicion:hover {
    border: solid 1px black;
    background-color: #63d471;
background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);


    
}


/* INICIO */

.cuerpoinicio {
    display: flex;
    flex-direction: column;
justify-content: space-evenly;
    text-align: center;
    height: 500px;
}
/* CARROUSEL */



.carousel-item active {
    height: 400px;
    width: 600px;
    text-align: center;
}

.carousel-item {
    text-align: center;
    height: 400px;
    width: 600px;
}

.carousel-inner {
   
    margin-top: 50px;
    margin-bottom: 5px;
}



/* FOOTER */

footer {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

footer ul li {
    color: #3a5e40;
    text-transform: uppercase;
        line-height: 35px;
        list-style-type: none;
}

.copy {
    margin-top: 60px;
}

.logos {
    height: 40px;
}

.logosrs {
    display: inline;
}

.mapa {
    margin-top: 12px;
    margin-right: 180px;
}

.datosContacto {
    margin-left: -15px;
}

.listaSiguenos {
margin-right: 15px;
margin-top: 50px;
}


/* EXPERIENCIAS */

.imgExp {
    width: 300px;
    height: 300px;
}

.container {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.col {
    text-align: center;
    align-items: baseline;
}

.imgBarraBrava {
    margin-top: 30px;
}


/* MOBILE */

/*@media (max-width: 480px) {

    footer {
        background-color: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    

}*/

/* MOBILE */
@media (max-width: 767px) {

    footer {
        background-color: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    
    .mapa {
        margin-left: 180px;
    }

    .copy {
        margin-left: 5px;
    }

    .datosContacto {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-right: 20px;
    }

    .datosContacto li {
        text-align: center;
    }

    .imgBarraBrava {
        margin-top: 3px;
    }

    nav li a {
        margin-left: 5px;
        text-align: center;
    }

    nav li {
        margin-left: -1px;
    }

    .listaSiguenos {
        margin-right: 30px;
    }
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1023px) {

    footer {
        background-color: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    
    .mapa {
        margin-left: 180px;
    }

    .copy {
        margin-left: 5px;
    }

    .datosContacto {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-right: 20px;
    }

    .datosContacto li {
        text-align: center;
    }

}