/* MOBILE */
@media (max-width: 767px) {

    footer {
        background-color: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    
    .mapa {
        margin-left: 180px;
    }

    .copy {
        margin-left: 5px;
    }

    .datosContacto {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-right: 20px;
    }

    .datosContacto li {
        text-align: center;
    }

    .imgBarraBrava {
        margin-top: 3px;
    }

    nav li a {
        margin-left: 5px;
        text-align: center;
    }

    nav li {
        margin-left: -1px;
    }

    .listaSiguenos {
        margin-right: 30px;
    }
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1023px) {

    footer {
        background-color: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    
    .mapa {
        margin-left: 180px;
    }

    .copy {
        margin-left: 5px;
    }

    .datosContacto {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-right: 20px;
    }

    .datosContacto li {
        text-align: center;
    }

}