/* HOLA */

/* HOLA 2*/

/* HOLA 3 */


/* VARIABLES */ 

$color: #729677;

$estiloh1: 40px bold;
$estiloh1mob: 20px bold;

/* IMPORT */ 

@import "extend-mixins";

   



/* ESTILOS GENERALES */



body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #729677;

}

/* ENCABEZADO */

header {
    padding: 10px;
width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    background-image: url(/img/rio/MILI.jpg);
}


/* MENU */

nav {

    .container-fluid {

        background-color: #729677;



        div {

            ul {

                li {

                    a {

                        color: black;
                        font-weight: bolder;
                        background-color: #729677;
                        margin: 5px;
                        border: solid 1px black;


                    }
                }
            }

            .d-flex {

                button {

                    background-color: #729677;
                    color: black;

                }
            }

            .transicion {
                transition: all 700ms
                }
                
                .transicion:hover {
                    border: solid 1px black;
                    background-color: #63d471;
                background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
                
                
                    
                }
        }
    }



}

/* INICIO */


/* Carrousel */

#carouselExampleIndicators {

    .carousel-inner {
   
        margin-top: 50px;
        margin-bottom: 5px;

        .carousel-item active {
            height: 400px;
            width: 600px;
            text-align: center;
        }

        .carousel-item {
            text-align: center;
            height: 400px;
            width: 600px;
        }
    }
}

.cuerpoinicio {
    display: flex;
    flex-direction: column;
justify-content: space-evenly;
    text-align: center;
    height: 500px;

    h1 {
        font-size: $estiloh1;

    }

    h2 {
        color: black;
        text-decoration: none;

        
            &:hover {
                text-decoration: underline;
                color: #324d36;
            }
        
    }
}


/* NOSOTROS */

.cuerpoNosotros {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;

    article {
        text-align: justify;

        h1 {
            text-align: center;
        }
    }
}

/* EXPERIENCIAS */

.container {

    margin-top: 50px;
    display: flex;
    align-items: center;

    .col {
        text-align: center;
    align-items: baseline;

    .imgExp {
        width: 300px;
        height: 300px;
    }

      p {

        a { 
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #324d36 ;
            }
        }
      }
    }

   
}

/* ERES GUÍA */

.mainGuias {

    .cuerpoGuias {

        margin-top: 130px;

        

        h1 {
            font-size: $estiloh1;
            text-align: center;

        }

        p {
            font-size: 150%;
            text-align: center;
            margin-top: 100px;

            a {
                color: black;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: #324d36;
                }
            }
        }

    }

    .galeriaGuias {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;

        .imgguiaRio {
            width: 400px;
            height: 400px;
            border: solid 1px green;
        }



    }


}


/* CONTACTO */

.contacto {
margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 600px;
    grid-template-areas: 
    "cuerpo formulario";

    .cuerpoContacto {
        grid-area: cuerpo;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            text-align: center;
        }
        p {
            font-size: 150%;
            margin-top: 50px;
            text-align: center;
            width: 250px;
        }



    }

    .formulario {
        grid-area: formulario;
        
        .field {
            display: flex;
        flex-direction: column;

        input {
            width: 350px;
            margin-bottom: 20px;
        }

        h3 {

            margin-bottom: 10px;
        }

        .prefTel {
        
            .radio {
                margin-left: 10px;
            }
        }

        .prefMail {

            .radio {
                margin-left: 10px;
            }

        }

        .consulta {
            width: 500px;
        }
        
        

        
            
        }

        
        }

    
}
/* FAVELAS */ 
.mainFavelas {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    width: 100%;




    h1 {
        text-align: center;
    }

    .cuerpoFavelas {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        
        height: 900px;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "im1 im2 im3"
            "im4 im5 im6"
            "im7 im8 im9"
        ;

        .articulo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 300px;
            height: 315px;

            .imgFavelas {
                width: 300px;
                height: 300px;
            }


            p {
                margin-top: 0px;
                margin-bottom: 0px;
                color: #729677;
                font-size: 10px;
                height: 15px;
                background-color: black;


            }

            .bordeInterno {
                border-left: solid 1px white;
                border-right: solid 1px white;
            }

            .bordeSuperior {
                border-top: solid 1px white;
            }

            .bordeInferior {
                border-bottom: solid 1px white;
            }




        }

        .im1 {
            grid-area: im1;
            border-top: solid 1px white;
            border-left: solid 1px white;
            border-right: solid 1px white;
        }

        .im2 {
            grid-area: im2;
            border-top: solid 1px white;
            border-left: solid 1px white;
        }

        .im3 {
            grid-area: im3;
            border-top: solid 1px white;
            border-left: solid 1px white;
            border-right: solid 1px white;
        }

        .im4 {
            grid-area: im4;
            border-left: solid 1px white;
            border-right: solid 1px white;
        }

        .im5 {
            grid-area: im5;
            border-left: solid 1px white;
        }

        .im6 {
            grid-area: im6;
            border-left: solid 1px white;
            border-right: solid 1px white;
        }

        .im7 {
            grid-area: im7;
            border-bottom: solid 1px white;
            border-left: solid 1px white;

        }

        .im8 {
            grid-area: im8;
            border-bottom: solid 1px white;
            border-left: solid 1px white;
        }

        .im9 {
            grid-area: im9;
            border-bottom: solid 1px white;
            border-left: solid 1px white;
            border-right: solid 1px white;
        }







    }

}

/* FOOTER */

footer {
    margin-top: 30px;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    .datosContacto {
        color: #3a5e40;
        margin-left: -15px;
        text-transform: uppercase;
        line-height: 35px;
        list-style-type: none;

        .copy {
            margin-top: 60px;
        }
    }

    .mapa {
        margin-top: 12px;
        margin-right: 180px;
    }

    .listaSiguenos {
        color: #3a5e40;
        text-transform: uppercase;
        line-height: 35px;
        list-style-type: none;
        margin-right: 15px;
        margin-top: 50px;

        .logosrs {
            display: inline;

            .logos {
                height: 40px;
            }
        }
        }
}